---
layout: default
---

<article class="post single" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        {% if page.title %}<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}

        <ul class="clear">
            <!--- Include Published date-->
            <li><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><i class="far fa-calendar-alt" aria-hidden="true"></i> {{ page.date | date: "%Y/%m/%d" }} </time></li>

             <!--- Include Read time-->
            <li><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</li>

            <!--- Include github-->
            <li><a href="{{ site.github.repository_url }}/blob/master{{ site.branch }}/{{ page.path }}" title='Modifier cette page'>
                <i class="fab fa-github-alt" aria-hidden="true"></i>
            </a></li>
        </ul>

    </header>

    <div class="post-content">
        {{ page.content }}
    </div>

    <footer class="post-footer">
        <div class="share">Partager
            <ul class="social-networks">
                <li class="share-facebook"><a href="https://www.facebook.com/sharer.php?s=100&p[title]={{page.title | strip_html }}&p[summary]={{page.content | strip_html | truncate: 140 }}&p[url]={{ page.url | prepend: site.baseurl | prepend: site.url }}" class="s_facebook" target="_blank" onclick="window.open(this.href, '','width=700,height=300');return false;"><svg title="" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#facebook-icon"></use></svg></a></li>
                <li class="share-twitter"><a href="http://twitter.com/share?url={{page.url | prepend: site.baseurl | prepend: site.url | escape}}&text={{ page.content | strip_html | truncate: 140 }}&hashtags={% for tag in page.tags %}{{ tag }},{% endfor %}" rel="noreferrer" target="_blank" onclick="window.open(this.href, '','width=700,height=300');return false;"><svg title="" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#twitter-icon"></use></svg></a></li>
                <li class="share-linkedin"><a href="https://www.linkedin.com/sharing/share-offsite/?url={{page.url | prepend: site.baseurl | prepend: site.url | escape}}" rel="noreferrer" target="_blank" onclick="window.open(this.href, '','width=700,height=300');return false;"><svg title="" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#linkedin-icon"></use></svg></a></li>
            </ul>
        </div>
        {% if site.show_tags == 1 and page.tags %}
        <div class="tags">
            <ul>
                {% for tag in page.tags %}
                <li><a href="{{ site.baseurl | prepend: site.url }}/tag/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </footer>
</article>

{% if page.comments and site.show_comments == 1 %}
<aside class="comments" role="complementary">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
            this.page.identifier = '{{ page.date | date: "%-m/%-d/%Y" }}';
        };
        (function() {
            var d = document, s = d.createElement('script');

            s.src = '//{{site.disqus}}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
</aside>
{% endif %}